{# 
	@see views-view-fields.html.twig for setup of variables
	and other markup and formatting.
#}

{% if use_slide_layout %}
	{% include '@alps/views/alps--views-view-fields--slide-alternate.html.twig' %}
{% else %}
	{# 
		Doing some default markup and ordering of fields to match ALPS.
		Image first, then title and time/created field, followed by the rest of the fields.
	#}
	<div class="media-block__inner spacing--quarter block__row--small-to-large">
		{% if image and fields|first == fields[image_field] %}
			<a class="media-block__image-wrap block__image-wrap db" href="{{ path('entity.node.canonical', {'node': row.nid}) }}">
				<div class="dib">
					{{ image }}
				</div>
			</a>
			{% set image_field_used = image_field %}
		{% endif %}
		<div class="media-block__content block__content">
			{% if fields.title %}
				<h3 class="media-block__title block__title font--secondary--m theme--primary-text-color">{{ fields.title.content }}</h3>
			{% endif %}
			{% if fields.created %}
				<time class="block__date font--secondary--xs brown space-half--btm">{{ fields.created.content }}</time>
			{% endif %}
			<div class="spacing--half">
				{% include '@alps/views/alps--views-view-fields--output-fields.html.twig' with {fields: fields|without('created', 'title', image_field_used), nid: row.nid} only %}
				{% if not fields.view_node %}
					<p><a class="media-block__cta block__cta btn theme--secondary-background-color" href="{{ path('entity.node.canonical', {'node': row.nid}) }}">{{ "Read More"|t }}</a></p>
				{% endif %}
			</div>
		</div>
	</div>
{% endif %}