{# Find out if there is an image field name `field_image` or `field_header_image` #}
{% set image = null %}
{% if fields.field_image.content|render|striptags('<img><picture>')|trim|length %}
	{% set image = fields.field_image.content %}
{% elseif fields.field_header_image.content|render|striptags('<img><picture>')|trim|length %}
	{% set image = fields.field_header_image.content %}
{% endif %}

{% set teaser = null %}
{% if fields.field_teaser.content|render|striptags('<div><p><a><button><img><picture>')|trim|length %}
	{% set teaser = fields.field_teaser.content %}
{% elseif fields.field_description.content|render|striptags('<div><p><a><button><img><picture>')|trim|length %}
	{% set teaser = fields.field_description.content %}
{% endif %}

{% if image %}
{{ image }}
{% else %}
	<img src="" alt="Missing Image">
{% endif %}
<div class="carousel__item-text__wrap">
	<div class="layout-container">
		<div class="carousel__item-text  spacing--half">
			<div>
				<h2 class="font--tertiary--xl carousel__item-heading theme--primary-transparent-background-color">{{ fields.title.content }}</h2>
				<br>
				{%- if fields.field_sub_title.content|render|striptags('<img><picture>')|trim|length -%}
				<h3 class="carousel__item-subtitle font--secondary--m theme--primary-transparent-background-color">{{ fields.field_sub_title.content }}</h3>
				{%- endif %}
				{% if teaser %}
				<div class="carousel__item-dek pad-half--btm theme--primary-transparent-background-color">
					{{ teaser }}
				</div> <!-- /.carousel__item-dek -->
				{% endif %}
			</div>
			{% if fields.view_node %}
				<a href="{{ alps_entity_url }}" class="btn theme--secondary-background-color">{{ fields.view_node.handler.options.text|default('Find out more') }}</a>
			{% else %}
				<a href="{{ alps_entity_url }}" class="carousel__item-cta btn theme--secondary-background-color" tabindex="0">{{ 'Find out more'|t }}</a>
			{% endif %}
		</div>
	</div>
</div>