{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
	set classes = [
		'block-' ~ configuration.provider|clean_class,
		'block-' ~ plugin_id|clean_class,
		'region-' ~ region,
		'media-block block spacing--quarter bg--tan can-be--dark-dark block--breakout pad--secondary--for-breakouts'
	]
%}
<div{{ attributes.addClass(classes) }}>
	{{ title_prefix }}
	{% if label %}
		<h2 {{ title_attributes.addClass('font--tertiary--m theme--primary-text-color pad--btm') }}><div class="icon icon--s"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.22 99.29"><title>List Icon</title><path d="M34.68,54.8H65.57V44.87H34.68V54.8ZM77.58,0.36H22.42a11.06,11.06,0,0,0-11,11V88.61a11.06,11.06,0,0,0,11,11H77.58a11.06,11.06,0,0,0,11-11V11.39A11.06,11.06,0,0,0,77.58.36Zm0,88.26H22.42V11.39H77.58V88.61ZM65.44,23.35H34.56V33H65.44V23.35Zm0,43.3H34.56v9.65H65.44V66.66Z" transform="translate(-11.39 -0.36)" fill="#010101" class="theme--primary-fill-color"></path></svg></div> {{ label }}</h2>
	{% endif %}
	{{ title_suffix }}
	<div class="media-block__inner spacing--quarter ">
		<div class="media-block__content block__content ">
			<div class="spacing--half">
				{% block content %}
					{{ content }}
				{% endblock %}
			</div> <!-- /.spacing -->
		</div> <!-- media-block__content -->
	</div>
</div>
