{% extends 'node.html.twig' %}

{% block node_block %}
	{% set image = null %}
	{% if content.field_header_image %}
		{% set image = content.field_header_image %}
	{% elseif content.field_image %}
		{% set image = content.field_image %}
	{% endif %}
	<div class="padding-top padding-bottom spacing--double no-pad--top-first">
		<div class="media-block block spacing--quarter pad--primary">
			<div class="media-block__inner spacing--quarter block__row">
				<a class="media-block__image-wrap block__image-wrap db" href="{{ path('entity.node.canonical', {'node': node.id}) }}">
					<div class="dib">
						{{ image }}
					</div>
				</a> <!-- /.media-block__image-wrap -->
				<div class="media-block__content block__content ">
					<h3 class="media-block__title block__title font--secondary--m">
						<a href="{{ path('entity.node.canonical', {'node': node.id}) }}" class="block__title-link theme--primary-text-color">{{ label }}</a>
					</h3>
					<div class="spacing--half">
						<div class="text text--s pad-half--btm">
							<div class="media-block__description block__description">
								<span class="font--primary--xs">{{ content.body|render|striptags }}</span>
							</div>
						</div>
						{{ content.links }}
					</div>
				</div>
			</div>
		</div>
		<hr>
	</div>
{% endblock %}